html {
  --black: #000;
  --black_alpha_95: rgba(0, 0, 0, 0.95);
  --black_alpha_40: rgba(0, 0, 0, 0.4);
  --black_alpha_24: rgba(0, 0, 0, 0.24);
  --black_alpha_16: rgba(0, 0, 0, 0.16);
  --black_alpha_12: rgba(0, 0, 0, 0.12);
  --black_alpha_8: rgba(0, 0, 0, 0.08);
  --black_alpha_4: rgba(0, 0, 0, 0.04);
  --white: #fff;
  --white_alpha_40: hsla(0, 0%, 100%, 0.4);
  --white_alpha_24: hsla(0, 0%, 100%, 0.24);
  --white_alpha_16: hsla(0, 0%, 100%, 0.16);
  --white_alpha_12: hsla(0, 0%, 100%, 0.12);
  --white_alpha_8: hsla(0, 0%, 100%, 0.08);
  --white_alpha_4: hsla(0, 0%, 100%, 0.04);
  --brand_primary_800: #0656fe;
  --brand_primary_500: #0c73fe;
  --brand_primary_300: #71bbff;
  --brand_primary_200: #a7d5ff;
  --brand_primary_50: #d9eaff;
  --brand_primary_25: #eaf5ff;
  --brand_secondary_800: #ef6c00;
  --brand_secondary_500: #f57c00;
  --brand_secondary_300: #ff9800;
  --brand_secondary_200: #ffcc80;
  --brand_secondary_50: #fff3e0;
  --ink_800: #0c131d;
  --ink_500: #5a6472;
  --ink_400: #9ea9b7;
  --ink_300: #cdd4de;
  --ink_150: #e1e5ec;
  --ink_50: #eff1f4;
  --ink_25: #f6f7f9;
  --graphite_900: #0a0a0a;
  --graphite_800: #1d1e20;
  --graphite_700: #242528;
  --graphite_600: #2e3035;
  --graphite_500: #3d3f43;
  --graphite_400: #5a5c5f;
  --graphite_300: #8a8f94;
  --graphite_50: #eeefef;
  --green_800: #22b350;
  --green_500: #35c768;
  --green_300: #72d89c;
  --green_50: #e7f8ee;
  --red_800: #dd424f;
  --red_500: #f54759;
  --red_300: #ff7989;
  --red_50: #ffe8eb;
  --yellow_800: #f08b15;
  --yellow_500: #f5a623;
  --yellow_300: #f8c165;
  --yellow_50: #fef4e5;
  --purple_800: #a266eb;
  --purple_500: #b983f1;
  --purple_300: #cea8f5;
  --purple_50: #f7f0fd;
  --pink_800: #f954af;
  --pink_500: #fb71c4;
  --pink_300: #fc9cd6;
  --pink_50: #ffeef8;
  --blue_800: #20a0ff;
  --blue_500: #33b8ff;
  --blue_300: #70cdff;
  --blue_50: #e7f6ff;
  --lemon_800: #ffb700;
  --lemon_500: #ffca00;
  --lemon_300: #ffda4d;
  --lemon_50: #fff7d3;
  --cosmic_800: #272f3b;
  --cosmic_500: #485367;
  --cosmic_300: #7d8799;
  --cosmic_50: #e6eefb;
  --social_vk_800: #3568a1;
  --social_vk_500: #4680c2;
  --social_fb_800: #2e4575;
  --social_fb_500: #3c5a99;
  --social_twitter_800: #2194cf;
  --social_twitter_500: #41abe1;
  --social_ok_800: #df7306;
  --social_ok_500: #f98d20;
  --social_mailru_800: #1347e9;
  --social_mailru_500: #2063f0;
  --social_google_800: #c63224;
  --social_google_500: #dc4e41;
  --social_yandex_800: #ba2222;
  --social_yandex_500: #da3332;
  --social_wechat_800: #5e9a1d;
  --social_wechat_500: #7bb32e;
  --social_line_800: #00ae00;
  --social_line_500: #00c300;
  --social_telegram_500: #08c;
  --social_telegram_800: #0078b5;
  --social_whatsapp_500: #25d366;
  --social_whatsapp_800: #20b859;
}

html.\--night {
  --brand_primary_800: #205bd9;
  --brand_primary_500: #1781f3;
  --brand_secondary_800: #de6807;
  --brand_secondary_500: #f38a1f;
  --green_500: #21ab5b;
  --red_500: #e9475a;
  --yellow_500: #e08e00;
  --purple_500: #9864ce;
  --pink_500: #d656a3;
  --blue_500: #059ef0;
  --lemon_500: #e5bf2e;
  --cosmic_500: #546383;
}

html {
  --white-graphite_900: var(--white);
  --ink_50-graphite_900: var(--ink_50);
  --white-graphite_800: var(--white);
  --ink_25-graphite_800: var(--ink_25);
  --white-graphite_700: var(--white);
  --ink_50-graphite_700: var(--ink_50);
  --white-graphite_600: var(--white);
  --ink_300-graphite_600: var(--ink_300);
  --ink_25-graphite_600: var(--ink_25);
  --white-graphite_500: var(--white);
  --brand_primary_50-graphite_500: var(--brand_primary_50);
  --ink_300-graphite_500: var(--ink_300);
  --ink_150-graphite_500: var(--ink_150);
  --ink_50-graphite_500: var(--ink_50);
  --ink_25-graphite_500: var(--ink_25);
  --black_alpha_95-graphite_400: var(--black_alpha_95);
  --white-graphite_400: var(--white);
  --ink_500-graphite_300: var(--ink_500);
  --ink_400-graphite_300: var(--ink_400);
  --brand_primary_500-graphite_300: var(--brand_primary_500);
  --ink_500_alpha_60-graphite_300: rgba(90, 100, 114, 0.6);
  --ink_500_alpha_12-graphite_300_alpha_16: rgba(90, 100, 114, 0.12);
  --ink_800-graphite_50: var(--ink_800);
  --brand_primary_500-graphite_50: var(--brand_primary_500);
  --ink_400-graphite_50: var(--ink_400);
  --ink_800-ink_800: var(--ink_800);
  --white-white: var(--white);
  --brand_primary_500-white: var(--brand_primary_500);
  --black_alpha_24-black_alpha_40: var(--black_alpha_24);
  --black_alpha_16-black_alpha_24: var(--black_alpha_16);
  --ink_50-black_alpha_24: var(--ink_50);
  --black_alpha_16-black_alpha_12: var(--black_alpha_16);
  --black_alpha_12-black_alpha_12: var(--black_alpha_12);
  --brand_secondary_500-brand_primary_dark_500: var(--brand_secondary_500);
}

html.\--night {
  --white-graphite_900: var(--graphite_900);
  --ink_50-graphite_900: var(--graphite_900);
  --white-graphite_800: var(--graphite_800);
  --ink_50-graphite_800: var(--graphite_800);
  --white-graphite_700: var(--graphite_700);
  --ink_50-graphite_700: var(--graphite_700);
  --white-graphite_600: var(--graphite_600);
  --ink_300-graphite_600: var(--graphite_600);
  --ink_25-graphite_600: var(--graphite_600);
  --white-graphite_500: var(--graphite_500);
  --brand_primary_50-graphite_500: var(--graphite_500);
  --ink_300-graphite_500: var(--graphite_500);
  --ink_150-graphite_500: var(--graphite_500);
  --ink_50-graphite_500: var(--graphite_500);
  --ink_25-graphite_500: var(--graphite_500);
  --black_alpha_95-graphite_400: var(--graphite_400);
  --white-graphite_400: var(--graphite_400);
  --ink_500-graphite_300: var(--graphite_300);
  --ink_400-graphite_300: var(--graphite_300);
  --brand_primary_500-graphite_300: var(--graphite_300);
  --ink_500_alpha_60-graphite_300: var(--graphite_300);
  --ink_500_alpha_12-graphite_300_alpha_16: hsla(210, 4%, 56%, 0.16);
  --ink_800-graphite_50: var(--graphite_50);
  --brand_primary_500-graphite_50: var(--graphite_50);
  --ink_400-graphite_50: var(--graphite_50);
  --brand_primary_500-white: var(--white);
  --black_alpha_24-black_alpha_40: var(--black_alpha_40);
  --black_alpha_16-black_alpha_24: var(--black_alpha_24);
  --ink_50-black_alpha_24: var(--black_alpha_24);
  --black_alpha_16-black_alpha_12: var(--black_alpha_12);
  --brand_secondary_500-brand_primary_dark_500: var(--brand_primary_500);
}

:root {
  --white-none: var(--white);
  --blue-white: var(--brand_primary_500);
  --white-dark: var(--white);
  --general-text-color: var(--ink_800);
  --general-background-color: var(--ink_50);
  --general-border: 1px solid var(--ink_300);
  --general-block-color: var(--white);
  --general-block-border: none;
  --general-menu-background: var(--white);
  --general-control-hover: var(--brand_primary_25);
  --general-control-hover-color: var(--brand_primary_500);
  --general-control-border-color: var(--brand_primary_500);
  --page-header-color: var(--brand_primary_500);
  --error-field-block-color: var(--red_50);
}

.\--night {
  --white-none: none;
  --blue-white: var(--graphite_50);
  --white-dark: var(--graphite_800);
  --general-text-color: var(--graphite_50);
  --general-background-color: var(--graphite_800);
  --general-border: 1px solid var(--graphite_900);
  --general-block-color: var(--graphite_600);
  --general-block-border: 1px solid var(--graphite_900);
  --general-menu-background: var(--graphite_800);
  --general-control-hover: var(--graphite_500);
  --general-control-hover-color: var(--graphite_50);
  --general-control-border-color: var(--graphite_900);
  --page-header-color: var(--graphite_800);
  --error-field-block-color: var(--graphite_800);
}
